* {
  margin: 0px;
  padding: 0px;
}
.work-sans-font {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* shared style */
.background-color-primary {
  color: #fd6e0a;
}
.color-primary {
  color: #474747;
}
.color-primary2 {
  color: #181818;
}
.color-primary3 {
  color: #757575;
}
.secondary-bg {
  background-color: #fff8f3;
}
.text-center {
  text-align: center;
}
.primary-btn {
  background-color: #fd6e0a;
  padding: 18px 35px;
  border-radius: 5px;
  border: none;
  font-weight: 700;
  cursor: pointer;
  font-size: 20px;
  color: white;
}
/* nav styles */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 170px;
}
.nav-title {
  font-weight: 800;
  font-size: 45px;
}
nav ul {
  display: flex;
  align-items: center;
}
nav ul li {
  list-style: none;
  margin-right: 50px;
}
nav ul li a {
  text-decoration: none;
  font-size: 20px;
}
.banner {
  display: flex;
  justify-content: space-between;
  margin: 0px 35px 0px 170px;
}
.banner-content {
  margin-top: 185px;
  max-width: 585px;
  max-height: 356px;
}
.banner-greetings {
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 5px;
}
.banner-title {
  font-size: 85px;
  font-weight: 700;
  margin-bottom: 20px;
}
.banner-description {
  line-height: 30px;
  font-size: 18px;
  margin-bottom: 30px;
}
.banner-profile-image {
  width: 584px;
  height: 676px;
}
.btn-1 {
  margin-right: 30px;
}
.header {
  background-image: url("../images/developer.png"),
    url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: top left, right bottom;
  margin-left: 20px;
}
/* main styles */
main {
  max-width: 1140px;
  /* max-height: 550px; */
  margin: 0 auto;
}
main section {
  margin-top: 130px;
  margin-bottom: 130px;
}
/* about section styles */
.about {
  max-width: 827px;
  max-height: 288px;
  border-radius: 10px;
  margin: 0 auto;
  padding: 130px 150px;
  text-align: center;
  margin-top: 130px;
}
.about-container {
  background-color: #fbf6e9;
}
.section-title {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 30px;
}
.section-description {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0%;
  margin-bottom: 30px;
}
.about-items-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.item-title,
.item-description {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0%;
}
/* do section styling */
.skills {
  display: flex;
  align-items: center;
  gap: 24px;
}
.skill {
  padding: 30px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
}
.skill-image {
  max-width: 44px;
  max-height: 44px;
  margin-bottom: 30px;
}
.skill-name {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0%;
  margin-bottom: 30px;
}
.skill-description {
  font-size: 16px;
  letter-spacing: 0%;
  line-height: 28px;
}
/* resume section styles */
.resume-description {
  display: flex;
}
.resume-section-title {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 90px;
}
.resume-description-column1,
.resume-description-column2 {
  width: 50%;
  margin-right: 70px;
}
.resume-description-column1 .resume-description-column1-title {
  font-size: 30px;
  line-height: auto;
  letter-spacing: 0%;
  font-weight: 700;
  margin-bottom: 30px;
}
.resume-description-column2 .resume-description-column2-title {
  font-size: 30px;
  line-height: auto;
  letter-spacing: 0%;
  font-weight: 700;
  margin-bottom: 30px;
}
.resume-description-derivation {
  margin-bottom: 60px;
}
.resume-description-derivation-title {
  font-size: 25px;
  line-height: auto;
  letter-spacing: 0%;
  font-weight: 700;
  margin-bottom: 10px;
}
.resume-description-derivation-more {
  font-size: 20px;
  line-height: auto;
  letter-spacing: 0%;
  font-weight: 600;
  margin-bottom: 20px;
}
.resume-description-derivation-skills {
  line-height: 28px;
  letter-spacing: 0%;
  margin-bottom: 30px;
}
footer {
  display: flex;
  gap: 100px;
  padding: 130px 230px;
}
footer .footer-column {
  width: 50%;
  align-items: center;
}
.footer-description {
  line-height: 28px;
  letter-spacing: 0%;
  margin-bottom: 30px;
  color: #474747;
}
footer input[type="text"] {
  background-color: white;
  width: 461px;
  height: 64px;
  line-height: 28px;
  letter-spacing: 0%;
  border-radius: 5px;
  display: block;
  margin-bottom: 24px;
  padding: 18px 0px 18px 30px;
  border: none;
}
footer input[type="email"] {
  background-color: white;
  width: 461px;
  height: 64px;
  line-height: 28px;
  letter-spacing: 0%;
  border-radius: 5px;
  display: block;
  margin-bottom: 24px;
  padding: 18px 0px 18px 30px;
  border: none;
}
footer textarea {
  background-color: white;
  width: 461px;
  height: 180px;
  line-height: 28px;
  letter-spacing: 0%;
  border-radius: 5px;
  display: block;
  margin-bottom: 24px;
  padding: 18px 0px 18px 30px;
  border: none;
} 